*{
    margin: 0;
    padding: 0;

}
h2{
    font-size: 1.5rem;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-image: url("back.jpeg");
    background-size: cover;
    

}

.container{
    background-image: url("backcontainer.avif");
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 45vh;
    box-shadow: 0 0 2rem  black;
    border: 0.1rem solid whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}
  

form select,
button,
input {
    width: 100%;
    border: none;
    outline: none;

}

form input {
    border: 1px solid white;
    background-color: rgb(3, 3, 51);
    color: white;

    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown  i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex;
    width: 6rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid white;
}

.select-container select {
    
    background-color: rgb(3, 3, 51);
    color: white;
    width: auto;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.msg {
    margin: 1.5rem 0 1.5rem 0;
}

form button {
    height: 3rem;
    background-color: rgb(218, 217, 217);
    font-size: 1.15rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 0.4rem;
    cursor: pointer;
     
}